body {
    margin: 0;
}
h1 {
    text-align: center;
    color: aqua;
    background-color: gray;
    margin: 0;
}

h2 {
    text-align: center;
}


li,ul {
    padding: 10px;
    list-style: none;
}

p,a {
    padding:  10px;
}